.logo-text {
  font-size: medium;
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


/**/
.login-form {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
}