.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }
  
  .badge {
    display: inline-block;
    font-size: 11px;
    font-weight: 600;
    padding: 4px 12px;
    border: 1px solid transparent;
    min-width: 10px;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border-radius: 99999px
  }
    
    .badge.badge-onboarded {
      background-color: #64DD17
    }

    .badge.badge-pending {
      background-color: #FFD600
    }

    .badge.badge-rejected {
      background-color: #ef1c1c
    }

    .badge.badge-outlined {
      background-color: transparent
    }

    .badge.badge-outlined.badge-onboarded {
      border-color: #64DD17;
      color: #64DD17
    }

    .badge.badge-outlined.badge-pending {
      border-color: #d39e00;
      color: #d39e00
    }

    .badge.badge-outlined.badge-rejected {
      border-color: #ef1c1c;
      color: #ef1c1c
    }